.items {
	display: flex;
	flex-direction: column;
	gap: 10px;
	overflow: auto;
	max-height: 350px;
}

.item {
	display: flex;
	align-items: center;
}

.dragIcon {
	min-width: 32px;
}
.info {
	width: 100%;
}
.template {
	justify-content: center;
}